
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/mixins/_buttons.scss';

// DropzoneJS
@import url('https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.css');

// Datatable
@import url('//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css');

// Cropper
@import "~cropperjs/src/css/cropper.scss";

// Noty
@import "~noty/src/noty.scss";
@import "~noty/src/themes/bootstrap-v4.scss";

.edit-photo-container {
    width: 270px;
    height: 480px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.dropzone {
  border: 2px dashed rgba(0, 0, 0, 0.2) !important;
  border-radius: 5px;
}
.dropzone .dz-message {
  font-size: 1rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}
.bootbox .modal-header {
    display: block;
}
.col_separator {
    position: absolute;
    top: 0px;
    bottom: 71px;
    width: 24px;
    margin-right: 10px;
    background: rgba(255, 255, 255, 0.6);
    z-index: 105;
    cursor: col-resize;
    opacity: 0.8;
    height: 100%;
}

.col_separator:hover {
    opacity: 1;
}

.col_separator_line {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 2px;
    margin-left: 10px;
    background:#3399ff;
    z-index: 100;
}

.col_separator_move {
    position: absolute;
    top: 0px;
    width: 24px;
    margin-left: 0px;
    background:#39f;
    z-index: 102;
    padding: 4px 0px;
    text-align: center;
    display: block;
    color: #fff;
}

.col_separator_move_bottom {
    top: auto;
    bottom: 0px;
}

.col_separator_add {
    position: absolute;
    top: 50%;
    margin-top: -60px;
    padding: 0px 0px;
    line-height: 120px;
    left: 0px;
    width: 20px;
    margin-left: 0px;
    background:#39f;
    z-index: 102;
    color: #fff;
    text-align: center;
    cursor: pointer;
    display: none;
    opacity: 0.8;
}

.col_separator_add_right {
    left: auto;
    right: 0%;
}

.col_separator_add:hover {
    opacity: 1;
}

.col_separator_delete {
    position: absolute;
    top: 28px;
    width: 24px;
    margin-left: 0px;
    background:#e7163a;
    z-index: 102;
    color: #fff;
    padding: 4px 0px;
    text-align: center;
    cursor: pointer;
    display: block;
}

.dataTables_wrapper {
    font-size: 13px
}

@mixin modal-fullscreen() {
    padding: 0 !important;

    .modal-dialog {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        max-width: 100%;
    }

    .modal-content {
        height: auto;
        min-height: 100%;
        border: 0 none;
        border-radius: 0;
    }
}

@media (max-width: 767px) {
    .modal-fullscreen-xs-down {
        @include modal-fullscreen();
    }
}

@media (max-width: 991px) {
    .modal-fullscreen-sm-down {
        @include modal-fullscreen();
    }
}

@media (max-width: 1199px) {
    .modal-fullscreen-md-down {
        @include modal-fullscreen();
    }
}

.modal-fullscreen {
    @include modal-fullscreen();
}

.btn-xs {
    // line-height: ensure proper height of button next to extra small input 
    @include button-size($btn-padding-y-xs, $btn-padding-x-xs, $font-size, $line-height, $border-radius);
}